@page "/Projects"

<PageTitle>Projects</PageTitle>

<MudCard Class="m-4">
    <MudCardHeader>
        <CardHeaderContent>
            <div class="flex justify-between">
                <MudText Typo="Typo.h5">Projects</MudText>
                <MudButton Href="projects/create" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary">
                    Create New Project
                </MudButton>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <UseGetProjects Context="result">
            <LoadingContent>
                Loading...
            </LoadingContent>
            <ChildContent>
                <MudTable T="IGetProjects_Projects" Items="@result.Projects" Hover="true" Filter="((x) => FilterFunc(x, _searchString))" OnRowClick="@OpenUpdateProjectPage">
                    <ToolBarContent>
                        <MudTextField 
                            @bind-Value="_searchString"
                            Immediate="true"
                            Placeholder="Search"
                            Adornment="Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Search"
                            IconSize="Size.Medium" />
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd Class="flex cursor-pointer">
                            <div class="flex">
                                <div style="color: @context.HexColor"><MudIcon Icon="@Icons.Material.Filled.Circle" /></div>
                                <MudText Class="ml-3">@context.Name @(context.HourlyRate != null ? $"({context.HourlyRate} {context.Currency}/h)" : "")</MudText>
                            </div>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </ChildContent>
        </UseGetProjects>
        
    </MudCardContent>
</MudCard>

@code {
    [Inject] private NavigationManager NavigationManager { get; init; } = null!;
    private string _searchString = string.Empty;

    private bool FilterFunc(IGetProjects_Projects project, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (project.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase) == true)
            return true;

        return false;
    }

    private void OpenUpdateProjectPage(TableRowClickEventArgs<IGetProjects_Projects> rowClickEvent)
    {
        NavigationManager.NavigateTo($"/projects/{rowClickEvent.Item.Id}");
    }
}