@page "/projects"

<PageTitle>Projects</PageTitle>

<MudCard Class="m-4">
	<MudCardHeader>
		<CardHeaderContent>
			<div class="flex justify-between">
				<MudText Typo="Typo.h5">Projects</MudText>
				<MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary">
					Create New Project
				</MudButton>
			</div>
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent>
        <MudTable Items="@ProjectItems" Hover="true" Filter="((x) => FilterFunc(x, searchString))">
            <ToolBarContent>
                <MudTextField 
                    @bind-Value="searchString"
                    Immediate="true"
                    Placeholder="Search"
                    Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search"
                    IconSize="Size.Medium" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd Class="flex">
                    <div class="flex">
                        <MudIcon Icon="@Icons.Material.Filled.Circle" Color="@context.Color" />
                        <MudText Class="ml-3">@context.Name</MudText>
                    </div>
                    
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudCardContent>
</MudCard>

@code {
    private Project[] ProjectItems =
    [
        new("1", "Project1 - work (30 USD/h)", Color.Error),
        new("2", "Project2 - work (600 CZK/h)", Color.Primary),
        new("3", "Project3 - freelance (20 EUR/h)", Color.Success),
        new("4", "Project4 - personal", Color.Warning),
        new("5", "Project5 - intership ", Color.Info),
    ];
    private string searchString = "";

    record Project(string Id, string Name, Color Color);

    private bool FilterFunc(Project project, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (project.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }
}