@page "/Projects/{ProjectId:guid}"

<PageTitle>Update Project</PageTitle>

<MudCard Class="m-4 max-w-screen-sm">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Color="Color.Inherit" Href="/projects" />
                Update Project
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <EditForm Model="@_updateProjectForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" @bind-Value="_updateProjectForm.Name" For="@(() => _updateProjectForm.Name)" />
                    <MudTextField Label="Details" Class="mt-3" @bind-Value="_updateProjectForm.Details" For="@(() => _updateProjectForm.Details)" />
                    <div class="flex space-x-6">
                        <MudTextField Label="Hourly rate" Class="mt-3" @bind-Value="_updateProjectForm.HourlyRate" For="@(() => _updateProjectForm.HourlyRate)" />
                        <MudTextField Label="Currency" Class="mt-3" @bind-Value="_updateProjectForm.Currency" For="@(() => _updateProjectForm.Currency)" />
                    </div>
                    <div class="flex items-end mt-2">
                        <div class="w-6 h-6 mr-2 mb-1 rounded-full" style="background: @(_updateProjectForm.HexColor ?? "#adadb1")"></div>
                        <MudColorPicker
                            @bind-Text="_updateProjectForm.HexColor"
                            Placeholder="Color"
                            Label="Color"
                            Adornment="Adornment.None"
                            PickerVariant="PickerVariant.Inline"
                            ColorPickerView="ColorPickerView.Palette">
                        </MudColorPicker>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Disabled="@_processing" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                        <MudText>Update</MudText>
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public required Guid ProjectId { get; set; }

    [Inject] private IMediator Mediator { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; init; } = null!;
    [Inject] ISnackbar Snackbar { get; set; } = null!;

    private UpdateProjectForm _updateProjectForm = new();
    private bool _processing = false;

    protected override async Task OnInitializedAsync()
    {
        var result = await Mediator.Send(new GetProject.Query(ProjectId));

        result.Switch(
            project => 
            { 
                _updateProjectForm.Name = project.Name;
                _updateProjectForm.Details = project.Details;
                _updateProjectForm.Currency = project.Currency;
                _updateProjectForm.HourlyRate = project.HourlyRate;
                _updateProjectForm.HexColor = project.HexColor;
            },
            error =>
            {
                Snackbar.Add($"{error.Name}: {error.Description}", Severity.Error);
                NavigationManager.NavigateTo("/projects");
            }
        );
    }

    private async Task OnValidSubmit()
    {
        _processing = true;
        var result = await Mediator.Send(new UpdateProject.Command(
            Id: ProjectId,
            Name: _updateProjectForm.Name,
            Details: _updateProjectForm.Details,
            Currency: _updateProjectForm.Currency,
            HourlyRate: _updateProjectForm.HourlyRate,
            HexColor: _updateProjectForm.HexColor));
        _processing = false;

        result.Switch(
            success =>
            {
                Snackbar.Add("Update successful", Severity.Success);
                NavigationManager.NavigateTo("/projects");
            },
            error => Snackbar.Add($"{error.Name}: {error.Description}", Severity.Error)
        );
    }

    private sealed record UpdateProjectForm
    {
        [Required(AllowEmptyStrings = false)]
        public string Name { get; set; } = string.Empty;

        public string? Details { get; set; }
        public string? Currency { get; set; }
        public int? HourlyRate { get; set; }
        public string? HexColor { get; set; }
    }
}