@page "/tasks"

<PageTitle>Tasks</PageTitle>
<div class="flex m-4 space-x-4 overflow-y-auto">
    <MudCard Class="grow">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5">Work Tasks</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <div class="flex flex-col items-start">
                <MudButton Class="flex-none" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="() => ShowCreateTaskCard()">Add New Task</MudButton>
                <MudButton Class="flex-none" StartIcon="@Icons.Material.Outlined.PlayArrow" Color="Color.Primary">Start Work</MudButton>
            </div>
            <MudExpansionPanels Dense="true" MultiExpansion="true">
                @foreach (var item in _pageModel.TasksInDays)
                {
                    <MudExpansionPanel Text="@(item.Day.DayOfWeek.ToString() + $", {item.Day.ToString("dd.MM.yyyy")}")">
                        <MudList Clickable="true" @bind-SelectedItem="_selectedItem" @bind-SelectedValue="_selectedTask" Color="Color.Primary">
                            @foreach(var task in item.Tasks)
                            {
                                <MudListItem OnClick="() => ShowUpdateTaskCard(task.Id)" Value="task">
                                    <div class="flex justify-between">
                                        <MudText>@task.Description</MudText>
                                        <MudText>@(task.End is not null ? $"{(task.End - task.Start)?.Humanize(2)} " : "")</MudText>
                                    </div>
                                    
                                </MudListItem>
                            }
                        </MudList>
                    </MudExpansionPanel>
                }
            </MudExpansionPanels>
        </MudCardContent>
    </MudCard>

    <CreateOrUpdateTaskCard @ref="_updateTaskCard" Class="grow" Visible="_showEditTaskCard" OnCancel="() => HideEditTaskIdCard()" OnCreateOrUpdate="() => RefreshItems()" />
</div>

@code {
    [Inject] private IExecutor Executor { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; init; } = null!;

    private CreateOrUpdateTaskCard _updateTaskCard = null!;
    MudListItem? _selectedItem;
    object? _selectedTask;
    private PageModel _pageModel = new();
    private bool _showEditTaskCard = false;

    private bool _loading = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshItems();
    }

    private IEnumerable<PageModel.TasksInDay> GroupTasksByDay(IEnumerable<PageModel.WorkTask> tasks)
    {
        List<PageModel.TasksInDay> tasksInDays = new();
        var dayGroups = tasks.OrderByDescending(x => x.Date).GroupBy(x => DateOnly.FromDateTime(x.Date.DateTime));
        foreach(var group in dayGroups)
        {
            tasksInDays.Add(new PageModel.TasksInDay(group.Key, group.Select(x => x).ToArray()));
        }

        return tasksInDays;
    }

    private bool FilterFunc(PageModel.TasksInDay tasksInDay, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (tasksInDay.Tasks.Any(x => x.Description?.Contains(searchString, StringComparison.OrdinalIgnoreCase) == true))
            return true;

        return false;
    }

    private async Task ShowUpdateTaskCard(Guid id)
    {
        await _updateTaskCard.CreateOrUpdateTask(id);
        _showEditTaskCard = true;
    }

    private async Task ShowCreateTaskCard(Guid? id = null)
    {
        await _updateTaskCard.CreateOrUpdateTask(id: null);
        _showEditTaskCard = true;
    }

    private void HideEditTaskIdCard(Guid? id = null)
    {
        _showEditTaskCard = false;
    }

    private async Task RefreshItems()
    {
        _loading = true;
        _pageModel = await Executor.ExecuteQuery(new GetPageModelQuery());
        _pageModel.TasksInDays = GroupTasksByDay(_pageModel.WorkTasks);
        _loading = false;
    }

    private sealed record GetPageModelQuery : IQuery<PageModel>;

    private sealed record PageModel
    {
        public IEnumerable<WorkTask> WorkTasks { get; init; } = [];
        public IEnumerable<TasksInDay> TasksInDays { get; set; } = [];

        public sealed record WorkTask(Guid Id, string? Description, DateTimeOffset Date, TimeSpan Start, TimeSpan? End);
        public sealed record TasksInDay
        {
            public DateOnly Day { get; init; }
            public WorkTask[] Tasks { get; init; }
            public bool ShowDetails { get; private set; } = false;

            public TasksInDay(DateOnly day, WorkTask[] tasks, bool showDetails = false)
            {
                Day = day;
                Tasks = tasks;
                ShowDetails = showDetails;
            }

            public void ToggleDetails() => ShowDetails = !ShowDetails;
        }
    }

    private sealed class GetPageModelQueryHandler(IDevBookWebApiActionExecutor devBookWebApiActionExecutor)
        : IQueryHandler<GetPageModelQuery, PageModel>
    {
        public async Task<PageModel> Handle(GetPageModelQuery request, CancellationToken cancellationToken)
        {
            var result = await devBookWebApiActionExecutor.Execute(x => x.WorkTasks_GetAllAsync(cancellationToken));
            return result.Match(
                workTasks => new PageModel { WorkTasks = workTasks.Select(x => new PageModel.WorkTask(x.Id, x.Description, x.Date, x.Start, x.End)) },
                apiError => throw new DevBookException(apiError.Errors));
        }
    }
}