@if (Visible)
{
    <div class="@Class">
        <EditForm Model="@_createOrUpdateTaskForm" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardHeader>
                    <MudIconButton Icon="@Icons.Material.Outlined.Close" Color="Color.Primary" OnClick="() => OnCancel.InvokeAsync()" />
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="Description" @bind-Value="_createOrUpdateTaskForm.Description" For="@(() => _createOrUpdateTaskForm.Description)" />
                    <MudTextField Label="Details" Class="mt-3" @bind-Value="_createOrUpdateTaskForm.Details" For="@(() => _createOrUpdateTaskForm.Details)" />
                    <MudSelect T="Project" @bind-Value="_createOrUpdateTaskForm.Project" Label="Project" AnchorOrigin="Origin.BottomCenter">
                        @if (!_createOrUpdateTaskForm.AvailableProjects.Any())
                        {
                            <MudSelectItem T="Project" Value="@(null)">
                                    <div class="flex">
                                        <MudText>No projects, </MudText>
                                        <MudLink Href="projects/create" Class="ml-3">Create New Here</MudLink>
                                    </div>
                            </MudSelectItem>
                        } else
                        {
                            @foreach(var project in _createOrUpdateTaskForm.AvailableProjects)
                            {
                                <MudSelectItem Value="@project">
                                    <div class="flex">
                                        <div style="color: @project.HexColor"><MudIcon Icon="@Icons.Material.Filled.Circle" /></div>
                                        <MudText Class="ml-3">@project.Name</MudText>
                                    </div>
                                </MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <MudDatePicker Label="Day" Class="mt-3" @bind-Date="_createOrUpdateTaskForm.Date" DateFormat="dd.MM.yyyy" For="@(() => _createOrUpdateTaskForm.Date)" />
                    <MudTimePicker Label="Start" @bind-Time="_createOrUpdateTaskForm.Start" For="@(() => _createOrUpdateTaskForm.Start)" />
                    <MudTimePicker Label="End" @bind-Time="_createOrUpdateTaskForm.End" For="@(() => _createOrUpdateTaskForm.End)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton Class="ml-auto mx-2" StartIcon="@Icons.Material.Outlined.Save" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@(_taskId is null ? "Create" : "Update")</MudButton>
                    @if (_taskId != null)
                    {
                        <DeleteTaskButton TaskId="_taskId" OnDelete="() => OnDelete.InvokeAsync()" />
                    }
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>
}

@code {
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public string Class { get; set; } = string.Empty;
    [Parameter] public EventCallback OnCreateOrUpdate { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }

    [Inject] private IExecutor Executor { get; set; } = null!;
    [Inject] ISnackbar Snackbar { get; set; } = null!;

    private CreateOrUpdateTaskForm _createOrUpdateTaskForm = new();
    private Guid? _taskId;

    public async Task PopulateTaskDetailCard(Guid? id)
    {
        _taskId = id;
        if (_taskId is not null)
        {
            _createOrUpdateTaskForm = await Executor.ExecuteQuery(new GetUpdateTaskFormQuery(_taskId.Value));
        }
        else
        {
            _createOrUpdateTaskForm = new();
            _createOrUpdateTaskForm.AvailableProjects = await Executor.ExecuteQuery(new GetProjectsQuery());
        }
        StateHasChanged();
    }

    private void OnInvalidSubmit(EditContext context)
    {
        // Notify change of fields with custom validation attributes to show validation error
        context.NotifyFieldChanged(context.Field(nameof(CreateOrUpdateTaskForm.End)));
    }

    private async Task OnValidSubmit()
    {
        if (_taskId is null)
        {
            await Executor.ExecuteCommand(new CreateTaskCommand(
                ProjectId: _createOrUpdateTaskForm.Project?.Id,
                Description: _createOrUpdateTaskForm.Description,
                Details: _createOrUpdateTaskForm.Details,
                Date: _createOrUpdateTaskForm.Date!.Value,
                Start: _createOrUpdateTaskForm.Start!.Value,
                End: _createOrUpdateTaskForm.End!.Value
            ));
            Snackbar.Add("Create successful", Severity.Success);
        }
        else
        {
            await Executor.ExecuteCommand(new UpdateTaskCommand(
                Id: _taskId.Value,
                ProjectId: _createOrUpdateTaskForm.Project?.Id,
                Description: _createOrUpdateTaskForm.Description,
                Details: _createOrUpdateTaskForm.Details,
                Date: _createOrUpdateTaskForm.Date!.Value,
                Start: _createOrUpdateTaskForm.Start!.Value,
                End: _createOrUpdateTaskForm.End!.Value
            ));
            Snackbar.Add("Update successful", Severity.Success);
        }
        await OnCreateOrUpdate.InvokeAsync();
    }

    private sealed record CreateOrUpdateTaskForm
    {
        private static DateTimeOffset Now = DateTimeOffset.Now;

        [Required(AllowEmptyStrings = false)]
        public string? Description { get; set; }

        public string? Details { get; set; }

        public Project? Project { get; set; }

        [Required]
        public DateTime? Date { get; set; } = DateTimeOffset.Now.Date;

        [Required]
        public TimeSpan? Start { get; set; } = Now.TimeOfDay;

        [Required]
        [TimeSpanGreaterThanAttribute("Start")]
        public TimeSpan? End { get; set; } = Now.TimeOfDay.Add(TimeSpan.FromHours(1));

        public Project[] AvailableProjects { get; set; } = [];
    }

    private sealed record GetUpdateTaskFormQuery(Guid Id) : IQuery<CreateOrUpdateTaskForm>;

    private sealed class GetUpdateTaskFormQueryHandler(IDevBookWebApiActionExecutor devBookWebApiActionExecutor)
        : IQueryHandler<GetUpdateTaskFormQuery, CreateOrUpdateTaskForm>
    {
        public async Task<CreateOrUpdateTaskForm> Handle(GetUpdateTaskFormQuery request, CancellationToken cancellationToken)
        {
            Project[] availableProjects = [];
            var projectsResult = await devBookWebApiActionExecutor.Execute(x => x.Projects_GetAllAsync(cancellationToken));
            projectsResult.Match(
                projects => availableProjects = projects.Select(x => Project.FromDto(x)).ToArray(),
                apiError => throw new DevBookException(apiError.Errors));

            var result = await devBookWebApiActionExecutor.Execute(x => x.WorkTasks_GetByIdAsync(request.Id, cancellationToken));
            return result.Match(
                task => new CreateOrUpdateTaskForm
                    {
                        Project = task.Project is null ? null : Project.FromDto(task.Project),
                        Description = task.Description,
                        Details = task.Details,
                        Date = task.Date.Date,
                        Start = task.Start,
                        End = task.End,
                        AvailableProjects = availableProjects
                    },
                apiError => throw new DevBookException(apiError.Errors));
        }
    }

    private sealed record GetProjectsQuery : IQuery<Project[]>;

    private sealed class GetPageModelQueryHandler(IDevBookWebApiActionExecutor devBookWebApiActionExecutor)
        : IQueryHandler<GetProjectsQuery, Project[]>
    {
        public async Task<Project[]> Handle(GetProjectsQuery request, CancellationToken cancellationToken)
        {
            var result = await devBookWebApiActionExecutor.Execute(x => x.Projects_GetAllAsync(cancellationToken));
            return result.Match(
                projects => projects.Select(x => Project.FromDto(x)).ToArray(),
                apiError => throw new DevBookException(apiError.Errors));
        }
    }
    
    private sealed record CreateTaskCommand(
        Guid? ProjectId,
        string? Description,
        string? Details,
        DateTimeOffset Date,
        TimeSpan Start,
        TimeSpan End)
        : ICommand;

    private sealed class CreateTaskCommandHandler(IDevBookWebApiActionExecutor devBookWebApiActionExecutor)
        : ICommandHandler<CreateTaskCommand>
    {
        public async Task Handle(CreateTaskCommand request, CancellationToken cancellationToken)
        {
            var result = await devBookWebApiActionExecutor.Execute(
                x => x.WorkTasks_CreateAsync(
                    new() 
                    {
                        ProjectId = request.ProjectId,
                        Description = request.Description,
                        Details = request.Details,
                        Date = request.Date,
                        Start = request.Start,
                        End = request.End
                    },
                cancellationToken));

            result.Match(
                success => success,
                apiError => throw new DevBookException(apiError.Errors));
        }
    }

    private sealed record UpdateTaskCommand(
        Guid Id,
        Guid? ProjectId,
        string? Description,
        string? Details,
        DateTimeOffset Date,
        TimeSpan Start,
        TimeSpan End)
        : ICommand;

    private sealed class UpdateTaskCommandHandler(IDevBookWebApiActionExecutor devBookWebApiActionExecutor)
        : ICommandHandler<UpdateTaskCommand>
    {
        public async Task Handle(UpdateTaskCommand request, CancellationToken cancellationToken)
        {
            var result = await devBookWebApiActionExecutor.Execute(
                x => x.WorkTasks_UpdateAsync(
                    request.Id,
                    new()
                    {
                        ProjectId = request.ProjectId,
                        Description = request.Description,
                        Details = request.Details,
                        Date = request.Date,
                        Start = request.Start,
                        End = request.End
                    },
                cancellationToken));

            result.Match(
                success => success,
                apiError => throw new DevBookException(apiError.Errors));
        }
    }
}